/*The styling of the body is done here*/
body{
    background-image: url("sports.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
    background-position: 0%;
    max-width: max-content;
    max-height: max-content;
    
    
}
/*The styling of the box where the form is available is done here*/
.box{
    width: 250px;
    height: 350px;
    margin: 5px auto;
    margin-left: 200px;
    margin-top: 80px;
    
    border: 1px solid black; 
    border-radius: 1px;
}
/*The styling of the form is done here*/
.form-group{
    width: 100%;
    position: static;
    

}
/*The styling of the welcome class is done here*/
.Welcome{
    font-size: medium;
    font-style: oblique;
    color: black;


    
    
    padding: 20px;
    position: relative;
    margin-right: 100px;
    margin-top: 0%;

}
/*The styling of the button is done here*/
.btn-primary{
    margin-left: 90px;

}
/*The styling of the registration is done here*/
.Registration{
    margin-left: 10px;

}
